
h1{
	font-family: "Gill Sans";
	font-weight: lighter;
	line-height: 25pt;
}
h2 {
	font-family: "Gill Sans";
	font-weight:lighter;
	line-height:25pt;
	l
}


body{
	font-family: "Gill Sans";
	font-weight: lighter;
	  font-size: 11pt;
  line-height: 18pt;
	column-count: 1;}
	
.textbox {
	width:40%;
	height: 800px;
	float:left;
	position: static;

}

.picbox {
	width: 300px;
	height: 600px;
	float: left;
}